html {
    overflow-y: scroll;
	vertical-align: baseline;
}

body {

   background: repeat url("../img/notepad.jpg");
}

#wrapper{
margin: 50px auto 0;
width: 910px; 
}
#tab-container{
 

}
#header {
	height: 60px;
	margin-bottom: 20px;
    overflow: hidden;
	position: relative;
}

#logo {
    display: none;
    float: left;
    margin-left: 10px;
    overflow: hidden;

}

.socialbar {
    float: right;
	list-style: none outside;

}
.socialbar li {
    display: inline;
    float: left;
    margin: 0px 2px 2px 0;
    padding: 0;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}
.social-text {
    background-color: #222222;
    color: #FFFFFF;
    float: left;
    height: 12px;
    padding: 9px;
}

.social-facebook {
    background: url("../img/facebook.png") no-repeat scroll 3px 3px #222222;
    float: left;
    height: 38px;
    width: 38px;
}
.social-twitter {
    background: url("../img/twitter.png") no-repeat scroll 3px 2px #222222;
    float: left;
    height: 38px;
    width: 38px;
}
.social-in {
    background: url("../img/linkedin.png") no-repeat scroll 3px 2px #222222;
    float: left;
    height: 38px;
    width: 38px;
}
.social-googleplus {
    background: url("../img/google+.png") no-repeat scroll 4px 3px #222222;
    float: left;
    height: 38px;
    width: 38px;
}
.social-wordpress{
	background: url("../img/wordpress.png") no-repeat scroll 4px 3px #222222;
    float: left;
    height: 38px;
    width: 38px;
}
.social-flickr{
	background: url("../img/flickr.png") no-repeat scroll 4px 3px #222222;
    float: left;
    height: 38px;
    width: 38px;
}
.social-facebook:hover {
    background-color: #3B5998;
}
.social-twitter:hover {
    background-color: #22B1E5;
}
.social-googleplus:hover {
    background-color: #D94A38;
}
.social-in:hover {
    background-color: #0075A1;
}
.social-wordpress:hover {
    background-color: #278CB9;
}
.social-flickr:hover {
    background-color: #ffffff;
	background: url("../img/flickr-hover.png") no-repeat scroll 4px 3px #fefefe;
}
#content{
    background-color: #ffffff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
}

#profile {
    background-repeat: repeat-x;
    overflow: hidden;
	position: relative;
	padding: 20px;

}
#resume {
    overflow: hidden;
    padding: 20px;
	
}
#work {
    overflow: hidden;
    padding: 20px;
}

.extra-text {
    border-bottom: 1px solid #EDEDED;
    color: #C35151;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 18px 3px;
}
.project-title {
    border-bottom: 1px solid #EDEDED;
    color: #000000;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 15px 3px;
}

#photo {
    overflow: hidden;
    padding: 20px;
}
#contact {
    overflow: hidden;
    padding: 20px;
}
.about {
  float:left;
  margin-left:20px;
  margin-top:30px;
  width:310px;
/*   background-color:#C35151;  */
}
.about .photo-inner {
  background-position:initial initial;
  background-repeat:no-repeat no-repeat;
  float:left;
  height:212px;
  padding:12px 0 0 20px;
  width:192px;
}
.about h1 {
  color:#000;
  font-weight:900;
  line-height:34px;
  margin-top:8px;
  font-size:26px;
}
.about h3 {
  color:#999;
  font-size:13px;
  line-height:18px;
  margin-top:5px;
}
.about p {
  color:#000;
  font-size:14px;
  line-height:20px;
  margin-top:15px;
}
.about ul {
list-style:none;
}

.location{
list-style:none;
margin-left:5px;
}
.loc{
width:120px;
margin-left:6px;
float:left;
}
.personal-info {
	list-style:none;
	background-repeat:no-repeat no-repeat;
	float:left;
	width:520px;
	margin:60px 0 0 15px;
}

.tab-container .panel-container { 
border: solid #666 1px; 
padding: 10px; 
-moz-border-radius: 0 4px 4px 4px; 
-webkit-border-radius: 0 4px 4px 4px; 

}

.tabs {
    padding-left: 210px;
	margin:0 0;
}

.tab { 
display: inline-block; zoom:1; 
*display:inline; 
background: no; 
border-bottom: none; 
-moz-border-radius: 4px 4px 0 0; 
-webkit-border-radius: 4px 4px 0 0; 

}

.tab a { 
	line-height: 2em; 
	padding: 45px 20px 12px 20px; 
	outline: none; 
    background-repeat: no-repeat;
    color: #333;
    display: block;
    font-size: 12px;
    height: 15px;
    text-align: center;
    width: 48px;
}
.tab a:hover { 
background-color: #ccc;
color: #fff;
font-weight: bold; 
}
.tab.active { 
position: relative; 
top: 1px; 
border-color: #666;
border-top: 5px solid #C35151;
/* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; */
}

.tab a.active { 
font-weight: bold; 
background-color: #fff;
color: #000;
}


.tabs li .tab-profile {
    background-image: url("../img/user32.png");
	background-position: center 10px;
}
.tabs li .tab-resume {
    background-image: url("../img/paperstar32.png");
	background-position: center 10px;
}
.tabs li .tab-work {
    background-image: url("../img/slide32.png");
	background-position: center 10px;
}
.tabs li .tab-photo {
    background-image: url("../img/camera32.png");
	background-position: center 10px;
}
.tabs li .tab-contact {
    background-image: url("../img/mail32.png");
	background-position: center 10px;
}

.timeline-column {
    padding-right: 20px;
    width: 540px;
	float: left;
}

h3.main-heading {
    background-position: left 2px;
    background-repeat: no-repeat;
    margin: 25px 2px 10px 2px;
	background-image: url("../img/plus.png");
}

h3.main-heading span {
    border-bottom: 1px solid #999999;
    color: #333333;
    display: block;
    line-height: 16px;
    margin-left: 28px;
    padding-bottom: 7px;
}

.timeline {
    padding-top: 10px;
	list-style: none outside;
	margin: 0;
	
}
.timeline li{
	margin-bottom: 20px;
}
.timeline li .timelineUnit {
    border-left: 1px solid #38B2CE;
    color: #444444;
    font-size: 13px;
    line-height: 17px;
    margin-left: 11px;
    padding-left: 15px;
}

.timeline li .timelineUnit h4 {
    color: #444444;
    font-size: 15px;
    line-height: 24px;
}
.timeline li .timelineUnit h5 {
    color: #999999;
    font-size: 13px;
    line-height: 18px;
}
.timeline li .timelineUnit .timelineDate {
    color: #38B2CE;
    float: right;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    margin-left: 10px;
    padding: 2px 6px;
}
.timeline li .timelineUnit p {
    color: #666666;
    font-size: 12px;
    margin-top: 5px;
}
.skill-column{
    float: left;
	width: 280px;
}
.skills {
    height: 100%;
    margin: 25px 0 0 0;
    overflow: hidden;
	list-style:none;
}
.skills li {
    float: left;
    margin-bottom: 15px;
    padding-left: 20px;
}
.skills li h4 {
    color: #444444;
    float: left;
    font-size: 15px;
    width: 240px;
}

.footer {
    height: 20px;
    margin-top: 10px;
}
.footer .copyright {
    color: #333333;
    float: left;
    padding-left: 6px;
}
.clear {
    clear: both;
}
.fanny-inner{
	overflow: hidden;
}